# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
dist/
build/

# PyInstaller
*.spec
dist/
build/

# Archivos generados
test_*.docx
evaluacion_*.docx
ficha_*.docx

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
